* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.container-B-screen {
  padding-top: 8%;
}
.corousel-btst{
  padding-left: 0;
  padding-right: 0;
}
.carousel-indicators li {
  background: url(../assets/Recursos/icon-1.png)  !important;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  border: none;
  margin: 0 2px;
 
}
.carousel-indicators .active  {
  background: url(../assets/Recursos/icon1.png)!important;
  background-repeat: no-repeat !important;
  height: 26px;
  width: 26px;
  border: none;
  margin: 0px 2px;
  background: transparent;
  
}
.caption-1 {
  background: url(../assets/Recursos/slider11.jpg)
              center center  no-repeat ;
  background-size: cover;
  width: 100%;
  height: 85vh;
}
.caption-2 {
  background: url(../assets/Recursos/slider22.jpg)
              center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
}
.caption-3 {
  background: url(../assets/Recursos/slider33.jpg)
              center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 85vh;
}
.carousel-caption {
  bottom: 50px;
}
.item-text {
  padding-top: 30%;
}
.item-text h2 {
  font-weight: bold;
  color: #2c5485;
}
.item-text span {
  font-size: 27px;
}
.item-text p {
  color: #fff;
}
.logo {
  background: white;
}
.bg-light {
  background: white!important;
}
.secTwo {
  /* outline: 1px solid red; */
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  color: #013e7d;
  font-family: 'Open Sans', sans-serif;
}
.item {
  list-style: none;
}
.item img {
  width: 15px;
  height: 15px;
}
.item span {
  padding-left: 7px;
}

aside img {
  width: 100%;
}
h3 {
  font-weight: 600;
}
.title  {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 25px;
  color: #013e7d;
}
.title, .cont-iso {
  /* outline: 1px solid blue; */
  /* padding-top: 2%; */
  padding-left: 10%;
  padding-right: 10%;
}
.margin {
  margin-bottom: 5%;
}
.iso {
  background: url(../assets/Recursos/fondo2.png);
  height: 220px;
  background-size: cover;
  color: #fff;
  padding-top: 5%;
}
.iso:hover {
  background: url(../assets/Recursos/fondo1.png);
  /* height: 220px; */
  background-size: cover;
}
.iso h3  {
  font-weight: 730;
}
.iso span{
  font-weight: 550;
  font-size: 18px;
}
.iso p {
  margin-top: 1.5%;
}
.container-slider {
  /* outline: 1px solid red; */
  padding-left: 5%;
  padding-right: 10%;
}

/*--- SLIDER ---*/

.content-slick {
  padding-left: 80px;
  padding-right: 80px;
  margin-top:18.5%;
  margin-bottom: 10%;
}

.slick-prev:before {
  content: none !important;
}

.slick-next:before {
  content: none!important;
}
.slick-prev {
  background-image: url(../assets/Recursos/arrow-l.png) !important;
  background-repeat: no-repeat !important;
  height: 60px;
  width: 60px;
  left: -60px;
  /* left: 20px !important; */
}

.slick-next {
  background-image: url(../assets/Recursos/arrow-r.png) !important;
  background-repeat: no-repeat !important;
  height: 60px;
  width: 60px;
  right: -60px;
  /* right: 24px !important; */
}

#slider-cont {
  /* outline: 1px solid blueviolet; */
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
#slider-cont img {
  width: 100%;
  height: 80px;
}
#slider-cont.item {
  display: inline-block;
}
/*---- SECTION AYUDA ----*/
.cont-ayuda {
  margin-top: 16%;
  margin-bottom: 18%;
  color: #013e7d;
}
.cont-ayuda h2 {
  font-weight: 700;
}
.subRayado {
  width: 100px;
  height: 2px;
  background: #013e7d;
  /* display: inline-block; */
}
.cont-contac {
  padding-left: 5%;
  padding-right: 5%;
}
.cont-contac h2 {
  margin-bottom: 0;
  color: #013e7d;
}
.diferente {
  /* outline: 1px solid black; */
  margin-top: 8%;
  margin-bottom: 6%;
  margin-left: 7%;
  margin-right: 7%;
   padding-left: 2%;
  padding-right: 2%; 
  padding-bottom: 5%;
  border-bottom: 1px solid #979797;
}
.diferente p {
  color: #979797;
  margin-top: 3%;
}
.diferente .n, .t {
  margin-bottom: 4%;
  margin-top: 2%; 
}
.content-form {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
.input .form-control {
  background: #f7f7f7;
  height: 30px;
}
.textarea {
  background: #f7f7f7;
}
.btn-blue {
  width: 150px;
  background: #003786;
  color: #fff;
}
footer {
  background: #015486;
}
.datos-footer {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #fff;
}
.datos-footer a {
  margin-top: 2%;
  color: #fff;
}
h6 {
  padding-top: 2%;
}
.datos-footer img {
  margin-left: 2%;
}



@media (min-width:1024px){
  .cont-somos {
    padding-top: 15%;
    margin-bottom: 7%;
  }
  .secTwo {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}
@media (min-width:992px){
  
  .secTwo {
    margin-top: 2%;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
  .title, .cont-iso {
    /* outline: 1px solid blue; */
    /* padding-top: 2%; */
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
  .content-form {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 27%;
    padding-right: 27%;
  }
}
@media (min-width:765px){
  .container-B-screen {
    padding-top: 12%;
  }
  .item-text {
    padding-top: 15%;
  }
}


/* .border {
  outline: 1px solid green;
} */