* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.logo {
  background: white;
}
.bg-light {
  background: white!important;
}
.secTwo {
  outline: 1px solid red;
  color: #013e7d;
  font-family: 'Open Sans', sans-serif;
}
.item {
  list-style: none;
}
.item img {
  width: 15px;
  height: 15px;
}
.item span {
  padding-left: 7px;
}
aside {
  outline: 1px solid black;
}
aside img {
  width: 100%;
}
h3 {
  font-weight: 600;
}
.title  {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 25px;
  color: #013e7d;
}
.title, .cont-iso {
  /* outline: 1px solid blue; */
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
}
.margin {
  margin-bottom: 5%;
}
.iso {
  background: url(../assets/Recursos/fondo2.png);
  height: 220px;
  background-size: cover;
  outline: 1px solid black;
  color: #fff;
  padding-top: 8%;
}
.iso h3  {
  font-weight: 730;
}
.iso span{
  font-weight: 550;
  font-size: 18px;
}
.container-slider {
  outline: 1px solid red;
  padding: 2%;
}
.item-slick {
  display: inline-block;
}


@media (min-width:1024px){
  .cont-somos {
    padding-top: 15%;
    margin-bottom: 7%;
  }
  .secTwo {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}