* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background: #fff;
    position: fixed;
    top: 0px;
    z-index: 9999;
}
.cont-h-icon {
    padding: 2%;
}
.menu {
    width: 50px;
    height: 50px;
    margin-top: 2%;
}
.menu-mobile {
    padding: 2%;
}
.menu-mobile .logo {
    width: 100%;
}
.imagen-h {
    padding-left: 24.5%;
}
 .h-scroll {
     padding-top: 2%;
     padding-left: 5%;
     padding-right: 5%;
} 
.item-a, .item-a a{
    color: #868686;
    text-decoration: none;
    font-weight: bold;
    padding-top: 2.5%;
}
.h-scroll li {
 text-decoration: none;
 list-style: none;
 display: inline-block;
}

.cont-h-icon a {
    color: #868686;
    font-weight: bold;
    margin-top: 2%;
}
.a-item-h {
    margin-top: 3.2%;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background: rgba(1,84,134,0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
